.footer
  ul
    li: a(href="https://www.facebook.com/StockholmsElevkarer/" target="_blank")
      img(src="/website/assets/img/facebook.svg" width="26px")
    li: a(href="https://www.instagram.com/stockholmselevkar/" target="_blank")
      img(src="/website/assets/img/instagram.svg" width="26px")
    li: a(href="https://twitter.com/SthlmElevkarer" target="_blank")
      img(src="/website/assets/img/twitter.svg" width="26px")
  p Copyright (c) 2016, Stockholms Elevkårer
  p(style="font-size: 12px") Website made by 
    a(href="mailto:contact@adriansalamon.com") Adrian Salamon 
