// /container
div(style="height: 600px; background: transparent" data-parallax="scroll", data-image-src="assets/img/stockholm.jpg")
  .intro-text-big-container
    .intro-text-container
      h1 Stockholms elevkårer
      p Engagemang över gränserna
      .buttons
        .button
          a(href="/om-oss") VAD GÖR VI?
        .button
          a(href="/kontakt") KONTAKTA OSS
        
        
.intro-section 
  .container
    // Example row of columns
    .row 
      .col-md-4
        .center.img
          img(src="assets/img/about.svg" height="80px")
        h2 Vilka är vi?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .center-button
          a.my-btn(href='#', role='button') Läs mer
      .col-md-4
        .center.img
          img(src="assets/img/podcast.svg" height="80px")
        h2 Podcast
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .center-button
          a.my-btn(href='#', role='button') Lyssna
      .col-md-4
        .center.img
          img(src="assets/img/contact.svg" height="80px")
        h2 Kontakt
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .center-button
          a.my-btn(href='#', role='button') Mer info

div(style="height: 400px; background: transparent" data-parallax="scroll", data-image-src="assets/img/presentation.jpg")
.last-section 
  .container
    .row
      .col-md-12.center
        h4 Stockholms Elevkårers syfte är att skapa förutsättningar för medlemmarna att bättre genomföra sin verksamhet och tillvarata sina medlemmars intressen.
        p Detta gör vi genom att. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .center-button
          a.my-btn(href='#', role='button') Lär dig mer om oss
