- var medlemmar = []
- medlemmar.push(['Arlandas Elevkår'])
- medlemmar.push(['Blackebergs Elevkår', 'https://www.facebook.com/blackebergs.elevradstyrelse?fref=ts'])
- medlemmar.push(['Bromma Gymnasiums Elevkår', 'https://www.facebook.com/BrommaG?fref=ts'])
- medlemmar.push(['DAGYs Elevkår', 'https://www.facebook.com/dagyselevkar?fref=ts'])
- medlemmar.push(['Didaktus Elevkår Liljeholmen'])
- medlemmar.push(['Enskilda Gymnasiets Elevkår', 'https://www.facebook.com/egelevkar14?fref=ts'])
- medlemmar.push(['Franska skolans Elevkår', 'https://www.facebook.com/franskaskolanselevkar?fref=ts'])
- medlemmar.push(['Globala Gymnasiets Elevkår', 'https://www.facebook.com/globalaselevkar?fref=ts', 'www.globalaselevkar.se'])
- medlemmar.push(['Gullviva Gymnasiums Fria Elevkår'])
- medlemmar.push(['HGY Elevkår'])
- medlemmar.push(['The Student Union of IEGS', 'https://www.facebook.com/pages/Student-Union-of-IEGS/289610497761290?fref=ts', 'www.studentunioniegs.wordpress.com'])
- medlemmar.push(['Klara Södra Elevkår', 'https://www.facebook.com/KlaraSodraElevkar?fref=ts'])
- medlemmar.push(['Kungsholmens Gymnasiums Elevkår', 'https://www.facebook.com/kgelevkar?fref=ts' , 'kgunion.com'])
- medlemmar.push(['Kunskapsgymnasiet Globens Elevkår', 'https://www.facebook.com/kunskapsgymnasiet.globenselevkar?fref=ts'])
- medlemmar.push(['Kulturama Gymnasiums Elevkår', 'https://www.facebook.com/kulturamas.elevkar?fref=ts'])
- medlemmar.push(['Kärrtorps Elevkår', 'https://www.facebook.com/karrtorps.elevkar?fref=ts'])
- medlemmar.push(['Nacka Gymnasiums Elevkår', 'https://www.facebook.com/ng.elevkar?fref=ts'])
- medlemmar.push(['Mikael Elias Elevkår', 'https://www.facebook.com/meelevkar?fref=ts', 'www.mikaelelias.blogspot.se'])
- medlemmar.push(['Norra Reals Elevkår', 'https://www.facebook.com/norraselevkar?fref=ts'])
- medlemmar.push(['NTI Gymnasiet Stockholm Elevkår', 'https://www.facebook.com/NtiElevkar?fref=ts'])
- medlemmar.push(['Rudbecks Elevkår', 'https://www.facebook.com/rudbeckselevkar?ref=ts&fref=ts'])
- medlemmar.push(['S:ta Ragnhilds Elevkår'])
- medlemmar.push(['Sjödals Elevkår', 'https://www.facebook.com/sjodals.elevkar?fref=ts'])
- medlemmar.push(['Solna Gymnasiums Elevkår', 'https://www.facebook.com/solnagymnasiumselevkar?fref=ts'])
- medlemmar.push(['TIS Elevkår', 'https://www.facebook.com/thoreninnovationschoolelevkar?fref=ts'])
- medlemmar.push(['Södra Latins Elevkår', 'https://www.facebook.com/sodra.latinselevkar?fref=ts', 'www.sodralat.in'])
- medlemmar.push(['Thorildsplans Elevkår'])
- medlemmar.push(['STUDENT UNION, TÄBY', 'https://www.facebook.com/pages/Tibbles-Elevkår/605789112877424?fref=ts'])
- medlemmar.push(['Tullinge Gymnasium Elevkår', 'https://www.facebook.com/televkar?fref=ts'])
- medlemmar.push(['TG Elevkår', 'https://www.facebook.com/tg.elevrad?fref=ts'])
- medlemmar.push(['UBGS Elevkår', 'https://www.facebook.com/Upplandsbrogymnasietelevkar?fref=ts'])
- medlemmar.push(['Wendela Hebbegymnasiets Elevkår', 'https://www.facebook.com/wendela.karen?fref=ts'])
- medlemmar.push(['Elevkåren vid Viktor Rydberg Gymnasium Djursholm', 'https://www.facebook.com/elevkarenVRGD?fref=ts'])
- medlemmar.push(['Viktor Rydberg Odenplans Elevkår', 'https://www.facebook.com/odenplanselevkar?fref=ts'])
- medlemmar.push(['Viktor Rydberg Gymnasium Jarlaplans Elevkår', 'https://www.facebook.com/jarlaplanselevkar?fref=ts'])
- medlemmar.push(['Värmdö Gymnasiums Elevkår', 'https://www.facebook.com/vgys.elevkar?fref=ts'])
- medlemmar.push(['The Core', 'https://www.facebook.com/wearethecore?fref=ts'])
- medlemmar.push(['Åva Elevråd', 'https://www.facebook.com/ava.elevrad.5?fref=ts'])
- medlemmar.push(['Östras Elevkår', 'https://www.facebook.com/ostraelevkar'])
- medlemmar.push(['ÖEG'])
- medlemmar.push(['Elevkåren vid Östra Real', 'https://www.facebook.com/pages/Elevkåren-Vid-Östra-Real/1402611973396461?fref=ts'])
- medlemmar.push(['Kungstensgymnasiets Elevkår', 'https://www.facebook.com/kungstensgymnasiets.elevkar?fref=ts', 'www.kungstensgymnasietselevkar.blogg.se'])
- medlemmar.push(['The IB Student Union', 'https://www.facebook.com/ISSR.SU?ref=ts&fref=ts'])
- medlemmar.push(['SMV Tyska skolan'])
- medlemmar.push(['Psyket', 'https://www.facebook.com/psykets.elevkar?fref=ts'])
- medlemmar.push(['Spånga Gymnasiums Elevkår'])
- medlemmar.push(['The Student Council of International School of Stockholm'])
- medlemmar.push(['MediaGymnasiets Elevkår', 'https://www.facebook.com/pages/Mediagymnasiets-Elevkår/623048591114705?fref=ts'])
- medlemmar.push(['MLE', 'https://www.facebook.com/ML.elevkar?fref=ts'])
- medlemmar.push(['Kristofferskolans Elevkår', 'https://www.facebook.com/kekkristofferskolanselevkar?fref=ts'])
- medlemmar.push(['TEEO', 'https://www.facebook.com/tegteeo?fref=ts'])
- medlemmar.push(['Hermods Elevkår', 'https://www.facebook.com/pages/Hermods-Elevkår/276317852496690?fref=ts'])
- medlemmar.push(['Lidingös Elevkår', 'https://www.facebook.com/elevkarenhersby?fref=ts'])
- medlemmar.push(['Tyresö Gymnasiums Elevkår'])
- medlemmar.push(['Rodengymnasiets Elevkår'])
- medlemmar.push(['Sjölins Elevkår Södermalm', 'https://www.facebook.com/pages/Sjölins-Elevkår-Södermalm/1402387913350466?fref=ts'])
- medlemmar.push(['Kungsholmen Västras Elevkår', 'https://www.facebook.com/pages/Elevkåren-Kungsholmens-Västra/366799106827753?fref=ts'])
- medlemmar.push(['DG Elevkår', 'https://www.facebook.com/dgelevkar?fref=ts'])
- medlemmar.push(['DBGY Sthlm'])
- medlemmar.push(['DCC Stockholms Elevkår', 'https://www.facebook.com/DCCSE?fref=ts'])
- medlemmar.push(['Elevkåren vid Fredrikshovs Gymnasium', 'https://www.facebook.com/elevkarenvidfredrikshovsgymnasium?fref=ts'])
- medlemmar.push(['EEK'])
- medlemmar.push(['Rytmus Elevkår', 'https://www.facebook.com/rytmuselevkar?fref=ts'])
- medlemmar.push(['Fredrika Bremers Elevkår', 'https://www.facebook.com/fredrikabremerselevkar?fref=ts'])
- medlemmar.push(['STEGs Elevkår', 'https://www.facebook.com/pages/STEGs-Elevkår/1388471468115690?fref=ts'])
- medlemmar.push(['S:t Botvids Elevkår'])

.container
  .row
    .col-md-12
      h3 Medlemmar
      .medlemmar-intro Stockholms Elevkårer har 66 medlemsorganisationer, lokaliserade i hela Stockholm.
      
      
      ul.list-unstyled.medlemmslista
        -for (var i = 0; i < medlemmar.length; i++){
          - if(medlemmar[i].length == 1){
            li= medlemmar[i]
          - }else if(medlemmar[i].length == 2){
            li
              a(href=medlemmar[i][1])
                =medlemmar[i][0]        
          -}else{
          
            li
              a(href=medlemmar[i][1])
                = medlemmar[i][0]
              |  - 
              a(href='http://'+medlemmar[i][2])
                =medlemmar[i][2] 

          -}
          
        - }
